<div class="container col-md-7">
    <div class="card">
        <div class="card-header  bg-dark">
            <div class="card-title text-white text-align-center">
                Grupos
            </div>
        </div>
    </div>
    <div class="card-body">
        {{#each grupos}}
            <p>grupo.nombre</p>
        {{/each}}
    </div>
</div>